Source: kowabunga-koala
Section: web
Priority: extra
Maintainer: The Kowabunga Project <maintainers@kowabunga.cloud>
Uploaders: The Kowabunga Project <maintainers@kowabunga.cloud>
Build-Depends: debhelper
Standards-Version: 3.9.2

Package: kowabunga-koala
Architecture: all
Depends: ${misc:Depends}
Description: Kowabunga Koala Web Client
 Kowabunga stands for 'Kvm Orchestrator With A BUNch of Goods Added'
